
body{
  background-color: #f5f5f5;
  color: #4e4e4e;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e9e1e;
}
a {
  color: #1e1e1e;
}
a:hover {
  color: #0078ff;
}

/*======================================
//--//-->   NAVBAR
======================================*/

.navbar ul li {
  display: inline-block;
}


/*======================================
//--//-->   ABOUT
======================================*/
.about_main{
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.skill-mf span {
  color: #4e4e4e;
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
}

.skill-mf .progress .progress-bar {
  height: .7rem;
  background-color: #0078ff;
}




.socials {
  padding: 2rem 0;
}
.socials ul li {
  display: inline-block;
}
.socials .ico-circle:hover {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}


/*======================================
//--//-->   footer
======================================*/
.footer{
  padding: 4rem 0 0 0;
}




/*======================================
//--//-->   BUTTON
======================================*/
